.search-input {
  margin: auto;
  height: 3rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 1rem;
}

.input-error {
  border: 2px solid red;
}

.magnifying-glass {
  height: 100%;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.main-input {
  box-sizing: border-box;
  padding-right: 1rem;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
}

.main-input:focus {
  outline: none;
  border: none;
  border-radius: 1rem;
}



.error {
  color: red;
  font-size: large;
}