.loader-container {
  height: 80vh;
  margin-top: 3rem;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.results-container {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
  overflow-y: auto;
}
