.layout {
  text-align: center;
}

@media screen and (max-width: 765px) {
  .layout {
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 766px)  {
  .layout {
    margin: auto;
    width: 60%;
  }
}
